In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data/worldcities.csv')

In [19]:
df = df.loc[df['population'] >= 100000]

In [20]:
df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629
...,...,...,...,...,...,...,...,...,...,...,...
11857,Dzolokpuita,Dzolokpuita,6.7862,0.4437,Ghana,GH,GHA,Volta,NaN,100000.0,1288118620
11861,Ad Dujayl,Ad Dujayl,33.8389,44.2481,Iraq,IQ,IRQ,Şalāḩ ad Dīn,NaN,100000.0,1368574619
11863,Gwelej,Gwelej,14.7500,36.7167,Eritrea,ER,ERI,Gash-Barka,NaN,100000.0,1232869245
11864,Babīlē,Babile,9.2167,42.3333,Ethiopia,ET,ETH,Oromīya,NaN,100000.0,1231924903
11865,Ra’s Ghārib,Ra's Gharib,28.3597,33.0775,Egypt,EG,EGY,Al Baḩr al Aḩmar,NaN,100000.0,1818526915